{% extends "base/autoscroll-anim-master.html" %}
{% block body %}
<form class="container" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <h6 style="color:#ff9700">Nhân viên: {% if employee %}{{ employee.name }}{% endif %}</h6>
                </div>
                <div class="col-lg-8">
                    <h6 style="color:#ff9700">--Thông tin khách hàng--</h6>
                </div>
            </div>
            <pre></pre>
            <div class="row">
                <div class="col-lg-5">
                    <input class="form-control" name="cus_id" type="text" placeholder="Nhập mã khách hàng" autofocus
                           onfocus="this.select()" value="{% if session %}{{ session.cus_id }}{% endif %}">
                </div>
                {% if customer == none %}
                 <div class="col-lg-7">
                    <h6 style="color:red">Chưa có thông tin khách hàng!</h6>
                </div>
                {% endif %}
                <div class="col-lg-3">
                    <h6>{% if customer %}{{ customer.customer_name }}{% endif %}</h6>
                </div>
                <div class="col-lg-3">
                    <h6>{% if customer %}{{ customer.customer_phone_number }}{% endif %}</h6>
                </div>
            </div>
            <pre></pre>
            <div class="row">
                <div class="col-lg-5">
                    <input class="form-control" name="cus_cash" type="text" placeholder="Nhập tiền thu" autofocus
                           onfocus="this.select()" value="{% if session %}{{ session.cus_cash }}{% endif %}">
                </div>
                <div class="col-lg-3">
                    <h6>{% if customer %}{{ customer.customer_email }}{% endif %}</h6>
                </div>
                <div class="col-lg-3">
                    <h6>{% if customer %}{{ customer.customer_address }}{% endif %}</h6>
                </div>
            </div>
            <pre></pre>
            <pre></pre>
            <div class="row" style="padding-left:100px">
                <div class="col-md-2">
                    <input type="submit" class="btn black" value="Tìm kiếm"
                           formaction="{{ url_for('search_cus_cash_bill') }}">
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn" value="Lưu và in phiếu"
                           formaction="{{ url_for('save_and_print_cash_bill') }}">
                </div>
                {% if all_debt_orders %}
                 <div class="col-lg-5">
                    <h6 style="color:red">Tổng số nợ: {{ "{:,.0f}".format(all_debt_orders) }}</h6>
                </div>
                {% endif %}
            </div>
            <pre></pre>
            <pre></pre>
            <div class="row">
                {% if is_rule_using == true %}
                <label style="color:red">*Quy định 5 đang được áp dụng</label>
                {% else %}
                <label style="color:blue">*Quy định 5 đang bị vô hiệu hóa</label>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}