{% extends "base/autoscroll-anim-master.html" %}
{% block body %}
<form method="post" action="{{ url_for('commit_sale_order') }}">
    <div class="row container" style="padding-right:20px">
        <div class="col-lg-5" style="padding-right:40px;">
            <div class="row">
                <h5 style="padding-right:10px">Nhân viên lập đơn:</h5>
                {% if session.user %}
                <h5 style="color:#ff9700">{{ session.user.name }}</h5>
                {% endif %}
            </div>
            <pre></pre>
            <div class="row form-group">
                <input name="customer_input" type="text" class="form-control" autofocus
                       placeholder="Nhập mã khách hàng hoặc số điện thoại" onkeyup="debt_check_box_enable(this.value)">
            </div>
            <div class="row form-group">
                <input id="cus_cash_input" name="cus_cash_input" type="number" min="0" class="form-control"
                       placeholder="Nhập tiền khách đưa" onkeyup="customer_cash(this.value)"
                       onfocus="this.select()">
            </div>
            <pre></pre>
            <div class="row form-group" style="padding-left:30px">
                <div class="col-lg-3">
                    <input name="debt_check" id="debt_check" disabled class="form-check-input" type="checkbox"
                           onclick="debt_check_box_on_click()">
                    <label class="form-check-label">Ghi nợ</label>
                </div>
                <div class="col-lg-1">
                    <select name="debt_options" class="form-group" id="debt_options" disabled
                            onchange="debt_select(this.value)">
                        <option name="debt_option" value="5">5%</option>
                        <option name="debt_option" value="10">10%</option>
                        <option name="debt_option" value="20">20%</option>
                        <option name="debt_option" value="30">Khác</option>
                    </select>
                    <input class="col-lg-6" type="number" id="debt" min="1000" style="display:none">
                </div>
            </div>
            <pre></pre>
            <pre></pre>
            <div class="row">
                <div class="col-md-4">
                    <a type="button" class="btn" href="{{ url_for('client_index') }}" onclick="clear_all()">Hủy đơn</a>
                </div>
                <div class="col-md-4">
                    <a type="button" class="btn" href="{{ url_for('client_index') }}">Trở về</a>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn black" value="Hoàn tất">
                </div>
            </div>
        </div>
        <div class="col-lg-7" style="border: 1px solid #b3b3b3; padding:20px 0px 20px 0; border-radius:5px;">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table">
                    {% for book in books %}
                    <tr id="book{{ book.barcode }}" class="temp_book_line">
                        <td class="col-md-3"><h6>{{ book.barcode }}</h6></td>
                        <td class="col-md-5"><h6>{{ book.name }}</h6></td>
                        <td class="col-md-1">
                            <h6>{{ book.quantity }}</h6>
                        </td>
                        <td class="col-md-3"><h6 id="price{{ book.barcode }}">{{ "{:,.0f}".format(book.price) }}</h6>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <hr>
            <pre></pre>
            <div class="row">
                <h5 class="col-lg-4">Tổng cộng:</h5>
                {% if total %}
                <h5 class="col-lg-8" style="color:#ff9700" id="total">{{ "{:,.0f}".format(total) }} VNĐ</h5>
                {% endif %}
            </div>
            <div class="row">
                <h5 class="col-lg-4">Ghi nợ:</h5>
                {% if total %}
                <h5 class="col-lg-8" style="color:#ff9700" id="debt_making"> 0 VNĐ</h5>
                {% endif %}
            </div>
            <div class="row">
                <h5 class="col-lg-4">Khách đưa:</h5>
                <h5 class="col-lg-8" style="color:#ff9700" id="cash"> 0 VNĐ</h5>
            </div>
            <pre></pre>
            <pre></pre>
            <hr>
            <pre></pre>
            <div class="row">
                <h5 class="col-lg-4">Trả lại khách:</h5>
                {% if total %}
                <h5 class="col-lg-8" style="color:#ff9700" id="charge"> 0 VNĐ</h5>
                {% endif %}
            </div>

        </div>
    </div>
</form>
{% endblock %}