{% extends "base/autoscroll-anim-master.html" %}
{% block body %}
<form class="container" method="post">
    <div class="row">
         <div class="col-lg-11">
            <input class="form-control" name="cus_search" type="text" placeholder="Nhập mã khách hàng, tên hoặc số điện thoại để tìm kiếm"
                   value="{%if customer %}{{ customer.customer_id }}{% endif %}" formaction="{{ url_for('search_customer') }}" autofocus onfocus="this.select()">
        </div>
         <div class="col-md-1">
            <input type="submit" class="btn black" value="Tìm kiếm" formaction="{{ url_for('search_customer') }}">
        </div>
    </div>
    <pre></pre>
    <pre></pre>
    <div class="row">
        <h5 style="color:#ff9700">---Khách hàng bạn đang tìm kiếm---</h5>
    </div>
    <pre></pre>
    <div class="row">
        <div class="col-lg-3">
            <input class="form-control" name="cus_id" type="text" placeholder="Mã khách hàng"
                   value="{%if customer %}{{ customer.customer_id }}{% endif %}">
        </div>
        <div class="col-lg-8">
            <input class="form-control" name="cus_name" type="text" placeholder="Họ tên khách hàng"
                   value="{%if customer %}{{ customer.customer_name }}{% endif %}">
        </div>
       <div class="col-md-1">
            <a type="button" class="btn" href="{{ url_for('render_customer') }}">Xóa hết</a>
        </div>
    </div>
    <pre></pre>
    <div class="row">
        <div class="col-lg-3">
            <input class="form-control" name="cus_email" type="email" placeholder="Email"
                   value="{%if customer %}{{ customer.customer_email }}{% endif %}">
        </div>
        <div class="col-lg-3">
            <input class="form-control" name="cus_address" type="text" placeholder="Địa chỉ"
                   value="{%if customer %}{{ customer.customer_address }}{% endif %}">
        </div>
        <div class="col-lg-5">
            <input class="form-control" name="cus_phone" type="text" placeholder="Số điện thoại"
                   value="{%if customer %}{{ customer.customer_phone_number }}{% endif %}">
        </div>

    </div>
    <pre></pre>
    <pre></pre>
    <pre></pre>
    <div class="row" style="float:right;">
        <div class="col-md-4">
            <input type="submit" class="btn black" value="Thêm mới" formaction="{{ url_for('add_new_customer') }}">
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn black" value="Cập nhật" formaction="{{ url_for('update_customer') }}">
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn" value="Xóa khách hàng" formaction="{{ url_for('delete_customer') }}">
        </div>
    </div>
    <pre></pre>
    <pre></pre>
    <pre></pre>
    <pre></pre>
    {% if request.method == 'POST' and cus_list == null %}
    <div class="row">
        <h5 style="color:#ff9700">Hóa đơn đang nợ:</h5>
    </div>
    <pre></pre>
    <div class="row">
        <div class="col-md-3">
            <input class="form-check-input" type="checkbox" style="padding-right:30px">
            <a class="form-check-label" href="#">Tất cả hóa đơn</a>
        </div>
    </div>
    {% if orders %}
    <div class="table-wrapper-scroll-y my-custom-scrollbar"
         style="overflow:scroll; border:1px solid #cccccc; border-radius:20px;">
        <table class="table" style="overflow: scroll;">
            <tr>
                <td><h6>Mã hóa đơn</h6></td>
                <td><h6>Ngày lập</h6></td>
                <td><h6>Tổng hóa đơn</h6></td>
                <td><h6>Ghi nợ</h6></td>
                <td><h6>Nhân viên</h6></td>
            </tr>
            {% for order in orders %}
            <tr>
                <td><label>{{ order.order_id }}</label></td>
                <td><label>{{ order.created }}</label></td>
                <td><label>{{ order.total }}</label></td>
                <td><label>{{ order.debt_value }}</label></td>
                <td><label>{{ order.creator_id }}</label></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <pre></pre>
    {% else %}
    <h6 style="color:red">Không tìm thấy hóa đơn ghi nợ nào!</h6>
    {% endif %}
    {% endif %}

    {% if request.method == 'POST' and cus_list != null %}
    <div class="row">
        <h5 style="color:#ff9700">Kết quả tìm kiếm:</h5>
    </div>
    <pre></pre>
    <div class="table-wrapper-scroll-y my-custom-scrollbar"
         style="overflow:scroll; border:1px solid #cccccc; border-radius:20px;">
        <table class="table customer">
            <tr>
                <td><h6>Mã khách hàng</h6></td>
                <td><h6>Tên khách hàng</h6></td>
                <td><h6>Số điện thoại</h6></td>
                <td><h6>Email</h6></td>
                <td><h6>Địa chỉ</h6></td>
            </tr>
            {% for cus in cus_list %}
            <tr class="item"
                onclick="window.location='{{ url_for('search_customer_by_name_list', cus_id=cus.customer_id) }}';">
                <td><label>{{ cus.customer_id }}</label></td>
                <td><label>{{ cus.customer_name }}</label></td>
                <td><label>{{ cus.customer_phone_number }}</label></td>
                <td><label>{{ cus.customer_email }}</label></td>
                <td><label>{{ cus.customer_address }}</label></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</form>
{% endblock %}