{% extends 'base/master.html' %}
{% block body %}
     <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{{ url_for('client_index') }}" onclick="clear_all()">Trang chủ</a>
            <span class="breadcrumb-item active">Đăng nhập</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>Xác thực nhân viên</h1>
            <p> Đây là hệ thống nội bộ dành riêng cho nhân viên của BookStore, xin không cung cấp tài khoản cho khách hàng hay nhân viên khác . Nếu bạn quên mật khẩu xin liên hệ với ban quản lý nơi bạn làm việc để xác nhận và được cấp tài khoản tạm hoặc mật khẩu mới.</p>
            <div class="form">

            {% if err_msg %}
                <div class="alert alert-danger">{{ err_msg }}</div>
            {% endif %}
                <form method="post">
                    <div class="row">
                        <div class="col-md-5">
                        {% if  employee_id %}
                            <input placeholder="Mã Nhân Viên" required name="employee_id" value="{{ employee_id }}">
                            <span class="required-star">*</span>
                        {% else %}
                            <input placeholder="Mã Nhân Viên" required name="employee_id">
                            <span class="required-star">*</span>
                        {% endif %}
                        </div>
                        <div class="col-md-5">
                            <input type="password" placeholder="Mật Khẩu" required name="password">
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <button class="btn black" type="submit">Đăng nhập</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}