{% extends "client/lookup.html" %}
{% block lookup_input %}
<div class="col-sm-3 form-group">
    <select class="form-control" name="lookup_options" onchange="document.location.href=this.value">
        <option name="lookup_option" value="{{ url_for('look_up_by_name') }}">Theo tên sách</option>
        <option selected name="lookup_option" value="{{ url_for('look_up_by_price') }}">Theo giá</option>
        <option name="lookup_option" value="{{ url_for('look_up_by_genre') }}">Theo thể loại</option>
        <option name="lookup_option" value="{{ url_for('look_up_by_author') }}">Theo tên tác giả</option>
        <option name="lookup_option" value="{{ url_for('look_up_by_publisher') }}">Theo tên nhà xuất
    </select>
</div>
<div class="row col-sm-7 form-group">
    <div class="col-sm-6">
        <input type="number"  required min="0" name="lookup_input_from" class="form-control" placeholder="Giá từ...">
    </div>
    <div class="col-sm-6">
        <input type="number" required min="0"  name="lookup_input_to" class="form-control" placeholder="...Đến giá">
    </div>
</div>
{% endblock%}