{% extends "client/lookup.html" %}
{% block lookup_input %}
<div class="col-sm-3 form-group">
    <select class="form-control" id="lookup_options" name="lookup_options" onchange="document.location.href=this.value">
        <option name="lookup_option" value="{{ url_for('look_up_by_name') }}">Theo tên sách</option>
        <option name="lookup_option" value="{{ url_for('look_up_by_price') }}">Theo giá</option>
        <option selected name="lookup_option" value="{{ url_for('look_up_by_genre') }}">Theo thể loại</option>
        <option name="lookup_option" value="{{ url_for('look_up_by_author') }}">Theo tên tác giả</option>
        <option name="lookup_option" value="{{ url_for('look_up_by_publisher') }}">Theo tên nhà xuất
    </select>
</div>

<div class="col-sm-7 form-group autocomplete">
    <input type="text" id="lookup_input" name="lookup_input" class="form-control"
           placeholder="Nhập từ khóa theo thể loại" required">
</div>
{% endblock %}