{% extends "base/autoscroll-anim-master.html" %}
{% block body %}
<section class="recomended-sec">
    <form method="post" class="container" id="lookup_form">
        <div class="row">
            {% block lookup_input %}
            <div class="col-sm-3 form-group">
                <select class="form-control" id="lookup_options"  name="lookup_options" onchange="document.location.href=this.value">
                    <option name="lookup_option" value="{{ url_for('look_up_by_name') }}">Theo tên sách</option>
                    <option name="lookup_option" value="{{ url_for('look_up_by_price') }}">Theo giá</option>
                    <option name="lookup_option" value="{{ url_for('look_up_by_genre') }}">Theo thể loại</option>
                    <option name="lookup_option" value="{{ url_for('look_up_by_author') }}">Theo tên tác giả</option>
                    <option name="lookup_option" value="{{ url_for('look_up_by_publisher') }}">Theo tên nhà xuất bản</option>
                </select>
            </div>
            <div class="col-sm-7 form-group">
                <input type="text" name="lookup_input" class="form-control"
                       placeholder="Nhập từ khóa theo tên đầu sách" required>
            </div>
            {% endblock%}
            <div class="col-sm-1">
                <input class="btn black" type="submit" value="Search">
            </div>
        </div>
        <div class="row">
            <div class="title">
                <pre></pre>
                <hr>
                <pre></pre>
                {% if result %}
                <h6 style="color:#ff9700">Kết quả tìm kiếm {{ result }}</h6>
                {% else %}
                <h5 style="color:#ff9700">Kết quả tìm kiếm của bạn sẽ xuất hiện dưới tại đây </h5>
                {% endif %}
            </div>
        </div>
        <div class="row" id="lookup-result">
            {% if books %}
            {% for book in books %}
            <div class="col-lg-3 col-md-6">
                <div class="item" style="height: 95%">
                    <img src="{{ book.thumbnail }}" alt="img" style="height: 80%">
                    <div  style="height: 20%">
                        <h3>{{ book.book_name }}</h3>
                        <h6><span class="price">{{ "{:,.0f}".format(book.book_price) }} VNĐ - SL: {{ book.in_stock_quantity }}</span></h6>
                        <div class="hover">
                            <a href="product-single.html">
                                <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </form>
</section>
{% endblock %}