{% extends 'client/index.html' %}
{% block modal %}
<!-- Change quantity-Modal -->
<div class="modal" tabindex="-1" role="dialog" id="modal{{ book.barcode }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">{{ book.name }}</h6>
            </div>
            <form method="post" action="{{ url_for('change_quantity_modal', barcode = book.barcode) }}">
                <div class="modal-body">
                    <input id="quantity_input" name="quantity_input"
                           type="number" min="1" class="form-control" value="{{ book.quantity }}" placeholder="Nhập số lượng"
                           onsubmit="change_quantity_enter_press('{{ book.barcode }}')"
                           onclick="this.select()" onfocus="this.select()">
                </div>
                <br/>
                <div class="modal-footer">
                    <a href="{{ url_for('client_index') }}" class="btn btn-secondary" type="button">Huỷ</a>
                    <input class="btn black btn-primary" type="submit" value="Nhập">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End modal -->
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}