{% if template %}
{% extends template %}
{% block modal %}
<!-- Change quantity-Modal -->
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% if modal_title %}
                <h6 class="modal-title" style="color:red">{{ modal_title }}</h6>
                {% endif %}
            </div>
            {% if err_msg %}
            <div class="modal-body"><h6>{{ err_msg }}</h6></div>
            {% endif %}
            <br/>
            <div class="modal-footer">
                {% if redirect_url %}
                <a href="{{ url_for(redirect_url) }}" class="btn black btn-primary">Đồng ý</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- End modal -->
{% endblock %}
{% endif %}