<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
       <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                      <h4 class="modal-title">Đăng xuất</h4>
                </div>
                <div class="modal-body">
                  <p>{{ desc }}</p>
                </div>
                <div class="modal-footer">
                    <form action="{{ action_url }}" method="GET">
                        <input type="hidden" name="confirm" value="1">
                        <input type="button" value="Huỷ" class="btn btn-default" onclick="window.location.href = '{{ url_for('admin_index') }}'">
                        <input type="submit" value="Đồng ý" class="btn btn-default">
                    </form>
                </div>
            </div>
       </div>
</body>
</html>