{% extends 'admin/import-receipt.html' %}
{% block import_title %}
<h3 style="color:#ff9700">Số lượng nhập ít nhất: {{ rule_value }}</h3>
{% endblock %}

{% block import_form %}
<form method="post" action="{{ url_for('importreceipt.create_import') }}">
    <div class="row" style="height:5px;"></div>
    <div class="row">
        <label>Ngày nhập:</label>
        <input type="date" id="import_date" name="import_date">
    </div>
    <div class="row" style="height:20px;"></div>
    <div class="col-sm-10">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
                <tr>
                    <td class="col-md-2">
                        <h5 style="font-weight:bold">Mã vạch</h5>
                    </td>
                    <td class="col-md-5">
                        <h5 style="font-weight:bold">Đầu sách</h5>
                    </td>
                    <td class="col-md-9">
                        <h5 style="font-weight:bold">Số lượng nhập</h5>
                    </td>
                </tr>
                {% for book in books %}
                <tr class="temp_book_line">
                    <td class="col-md-2">
                        <h5>{{ book["book"].barcode }}</h5>
                    </td>
                    <td class="col-md-5">
                        <h5>{{ book["book"].book_name }}</h5>
                    </td>
                    <td class="col-md-9">
                        {% if rule_value %}
                        <input class="form-control" type="number" min="{{ rule_value }}" name="{{ book['book'].barcode }}input" value="{{ rule_value }}" onfocus="this.select()">
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row" style="margin-bottom:20px;">
            <input class="btn black col-lg-12" type="submit" value="Lưu và xuất phiếu">
        </div>
        <div class="row" style="margin-bottom:20px;">
            <a id="select_all" class="btn col-lg-12" type="button" href="{{ url_for('importreceipt.__index__') }}">Trở về</a>
        </div>
        <input type="checkbox" id="is_clicked" style="display:none">

    </div>
</form>
{% endblock %}