{% extends 'admin/custom-style.html' %}
{% block custom_body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <form method="post" class="form-group">
        {% for rule in rules %}
        <hr>
        <div class="row">
            <div class="col-md-8" >
                <label style="color:#ff9700">{{ rule.description }}</label>
            </div>
            {% if rule.value_type == "bool" %}

            {% if rule.value == "1" %}
            <div class="col-md-2" style="padding-left:50px;">
                <input class="form-check" name="{{ rule.rule_id }}" type="checkbox" checked value="1">
            </div>
            {% else %}
             <div class="col-md-2" style="padding-left:50px;">
                <input class="form-check" name="{{ rule.rule_id }}" type="checkbox" value="0">
            </div>
            {% endif %}

            {% else %} <!-- int or float -->
            <div class="col-md-2">
                <input name="{{ rule.rule_id }}" required type="number" class="form-control" value="{{ rule.value }}" onfocus="this.select()">
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <hr>
        <div class="row">
            <div class="col-lg-3" style="float:right">
                <input class="btn black" type="submit" value="Lưu thay đổi">
            </div>
        </div>
    </form>
{% endblock %}