{% extends 'admin/custom-style.html' %}
{% block custom_body %}

{% block import_title %}
{% if rule_value %}
<h3 style="color:#ff9700">Các đầu sách có số lượng ít hơn {{ rule_value }}</h3>
{% endif %}
{% endblock %}

<div class="container" style="padding-top:20px;">
    {% block import_form %}
    <form method="post" action="{{ url_for('importreceipt.__index__') }}">
          <div class="row">
                <div class="col-sm-10">
                    {% if books |count == 0 %}
                    <h4>Không có đầu sách nào có số lượng tồn ít hơn {{ rule_value }}</h4>
                    {% else %}
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table">
                                 <tr>
                                    <td class="col-md-2">
                                        <h5 style="font-weight:bold">Mã vạch</h5>
                                    </td>
                                    <td class="col-md-5">
                                        <h5 style="font-weight:bold">Đầu sách</h5>
                                    </td>
                                    <td class="col-md-2">
                                        <h5 style="font-weight:bold">Thể loại</h5>
                                    </td>
                                    <td class="col-md-5">
                                        <h5 style="font-weight:bold">Tác giả</h5>
                                    </td>
                                    <td class="col-md-5">
                                        <h5 style="font-weight:bold">Tồn kho</h5>
                                    </td>
                                     <td class="col-md-2">
                                    </td>
                                </tr>
                                {% for book in books %}
                                <tr id="book{{ book.barcode }}" class="temp_book_line">
                                    <td class="col-md-2">
                                        <h5>{{ book.barcode }}</h5>
                                    </td>
                                    <td class="col-md-5">
                                        <h5>{{ book.book_name }}</h5>
                                    </td>
                                    <td class="col-md-2">
                                        {% for genre in book.genres %}
                                        <h5>{{ genre.genre_detail }}, </h5>
                                        {% endfor %}
                                    </td>
                                    <td class="col-md-5 ">
                                        {% for author in book.authors %}
                                        <h5>{{ author.author_name }}, </h5>
                                        {% endfor %}
                                    </td>
                                    <td class="col-md-5">
                                        <h5>{{ book.in_stock_quantity }} </h5>
                                    </td>
                                    <td>
                                        <input id="import_check" class="form-check import_check" type="checkbox" name="import_check" value="{{ book.barcode }}">
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-2"></div>
                {% block import_buttons %}
                <div class="col-sm-2">
                    <div class="row" style="margin-bottom:20px;">
                        <input class="btn black col-lg-12" type="submit" value="Nhập sách">
                    </div>
                    <div class="row" style="margin-bottom:20px;">
                        <a id="select_all" class="btn col-lg-12" type="button" href="javascript:;" onclick="import_receipt_check_all(this)">Chọn tất cả</a>
                    </div>
                    <input type="checkbox" id="is_clicked" style="display:none">
                </div>
                {% endblock %}
            </div>
    </form>
    {% endblock %}
</div>
{% endblock %}