{% extends 'admin/master.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<div>
    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
    {% if current_user.is_authenticated %}
    <br>
    <br>
    <h3 style="font-family:Sans-serif">Xin Chào {{ current_user.emp_name }}</h3>
    <br>
    <br>
    <img src="{{ url_for('static', filename = 'images/thumbnail.jpg') }}">
    <a class="btn black" type="button" href="{{ url_for('client_index') }}"></a>
</div>
{% else %}
{% include "admin/login.html" %}
{% endif %}
{% endblock %}