<!--    <h2 class="text-center text-info">Đăng nhập dành cho quản lý</h2>-->

<!--    <form method="post" action="{{ url_for('login_admin') }}">-->
<!--        <div class="form-group">-->
<!--            <input type="text" name="username" class="form-control" placeholder="Nhập mã nhân viên">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <input type="submit" value="Đăng nhập" class="btn black">-->
<!--        </div>-->
<!--    </form>-->

<section class="static about-sec">
    <br>
    <br>
    <h1 class="text-info">Xác thực tài khoản dành cho quản lý</h1>
    <p> Đây là hệ thống nội bộ dành riêng cho nhân viên của BookStore, xin không cung cấp tài khoản cho khách hàng hay
        nhân viên khác . Nếu bạn quên mật khẩu xin liên hệ với nhân sự để xác nhận và được cấp tài
        khoản tạm hoặc mật khẩu mới.</p>
    <div class="form">
        {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
        {% endif %}
        <form method="post" action="{{ url_for('login_admin') }}">
            <div class="row">
                <div class="col-md-5">
                    <input placeholder="Mã Nhân Viên" required name="manager_id">
                    <span class="required-star">*</span>
                </div>
                <div class="col-md-5">
                    <input type="password" placeholder="Mật Khẩu" required name="password">
                    <span class="required-star">*</span>
                </div>
                <div class="col-lg-8 col-md-12">
                    <button class="btn black" type="submit">Đăng nhập</button>
                </div>
            </div>
        </form>
    </div>
</section>
