{% extends 'admin/custom-style.html' %}
{% block body %}
<h3 style="color:#ff9700">Lập Báo Cáo ({{ year }}) - Bảng xem trước</h3>
<div class="row" style="padding-bottom:20px;"></div>
<form class="container" method="post">
    <div class="row">
        <div class="col-md-5">
            <select class="form-control">
                <option name="report_option">Báo cáo tồn</option>
                <option name="report_option">Báo cáo công nợ</option>
            </select>
        </div>
        <div class="col-md-5">
            <select class="form-control" name="month_option">
                {% for month in months %}
                <option name="report_option" value="{{ url_for('stockreport.month_select', month=month ) }}">Tháng: {{ month }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row" style="padding-bottom:20px;"></div>
    <div class="row">
        <div class="table-wrapper-scroll-y my-custom-scrollbar"
             style="overflow:scroll; border:1px solid #cccccc; border-radius:20px;">
            <table class="table customer">
                <tr style="border:1px solid #cccccc;">
                    <td style="border:1px solid #cccccc;"><h5 style="font-weight:bold;">Sách</h5></td>
                    <td style="border:1px solid #cccccc;"><h5 style="font-weight:bold;">Tồn đầu</h5></td>
                    <td style="border:1px solid #cccccc;"><h5 style="font-weight:bold;">Phát sinh</h5></td>
                    <td style="border:1px solid #cccccc;"><h5 style="font-weight:bold;">Tồn cuối</h5></td>
                </tr>
            </table>
        </div>
    </div>
     <div class="row" style="padding-bottom:20px;"></div>
    <div class="row" style="padding-left:900px;">
        <input class="btn black form-control" type="submit" value="Lưa và in báo cáo">
    </div>
</form>
{% endblock %}