<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookStore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
        <h3><a href="{{ url_for('admin_index') }}">Quản lý</a></h3>
        <h3><a href="{{ url_for('client_index') }}">Nhân viên</a></h3>
    </div>
</body>
</html>